<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 默认要有无参构造 -->
    <bean id="dog" class="base.class1.entity.Dog">
        <property name="age" value="18" />
        <property name="name" value="xiaohei" />
    </bean>
</beans>